.idea/
1.2. Site For Import/
main.py
netology/1.2. Site For Import/
netology/DZ1_7_1/
netology/NeuroStartUp/
netology/clon/
netology/clon1/
netology/dz.git.3.3/
netology/dz1/
netology/dz1_7_op/dz1_7_1/.idea/.gitignore
netology/dz1_7_op/dz1_7_1/.idea/dz1_7_1.iml
netology/dz1_7_op/dz1_7_1/.idea/misc.xml
netology/dz1_7_op/dz1_7_1/.idea/modules.xml
netology/dz1_7_op/dz1_7_1/.idea/vcs.xml
netology/git-2-homeworks-revert/
netology/gitdz3.2/
netology/porfolio/
